node_modules/
public/
dist/stories
dist/cjs/stories
dist/mjs/stories
dist/favicon.ico
dist/index.html
dist/logo192.png
dist/logo512.png
dist/manifest.json
dist/robots.txt

*.stories.d.ts
*.stories.js
*.stories.ts

src
.gitignore
tsconfig.json
.git